body{
  margin : 0;
  background : #303030;
  color:white;
}
.red{
  color: red;
}
.title{
  text-align: center;
  margin-top:150px;
}
.title-sub{
  text-align: center;
}
.food-img{
  width: 100%;
  height: auto;
}
.food{
  margin: 20px auto;
  width: 200px;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 5px; /*모서리 둥글게 만들어주기*/
}
.navbar{
  background-color: white;
  padding: 20px;
}
.navbar a { /*navbar에 있는 a태그들은 이걸따라라*/
  margin-right: 10px;
  text-decoration: none; /*링크 밑줄 제거*/
}
.eventbar{
  background-color: green;
  padding: 20px;
}
.eventbar a { /*navbar에 있는 a태그들은 이걸따라라*/
  margin-right: 10px;
  text-decoration: none; /*링크 밑줄 제거*/
}
.cart-item{
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid gray;
  line-height: 0px;
}
.Button{
  margin-top: 1.8%;
  margin-left: 1.5%;
  padding: 5px;
  height: auto;
  width: auto;
  display: flex;
  text-align: center;
  color: white;
  font-weight: bold;
}
